body {
  font-family: Arial;
  background-color: #f4f6f8;
  text-align: center;
}

h2 {
  margin-top: 20px;
}

.filter {
  margin: 20px;
}

input {
  padding: 6px;
  margin-right: 10px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #eaeaea;
}